$top_header_background: #405558;
$text_main_color: #12082d;
$small_text: rgba(18, 8, 45, 0.8);
$sidePadding: 6vw;
$heightPadding: 2vh;
$lastSectionColor: rgba(255, 187, 11, 0.5);
$footerColor: #EF9B11;
$footerDownload:  #2F2F2F;
