@import "./variables";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  section {
    padding: $heightPadding $sidePadding;
    &.first_header {
      display: flex;
      justify-content: space-between;
      color: white;
      height: 10vh;
      background-color: $top_header_background;
      align-items: center;
      width: 100%;
      .none {
        display: none;
      }
      @media screen and (min-width: 920px) {
        .none {
          display: flex;
        }
        .first_header_left {
          display: flex;

          * {
            margin-right: 8px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
        .first_header_right {
          display: flex;
          align-items: center;
          * {
            margin-left: 8px;
            &:last-child {
              margin-left: 0;
            }
          }
        }
      }
    }

    &.second_header {
      display: flex;
      justify-content: space-between;
      padding: 2vh 6vw;
      width: 100%;

      a {
        color: $text_main_color;
      }

      font-size: 16px;

      .none {
        display: none;
      }
      .logo {
        width: 75%;
      }
      @media screen and (min-width: 920px) {
        .menu {
          display: none;
        }
        .none {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .left,
        .right {
          gap: 15px;
        }
        button {
          background: linear-gradient(180deg, #ef9b11 0%, #405558 100%);
          border-radius: 7px;
          padding: 3px 4px;
          color: white;
          border: none;
        }
      }
    }
  }
}
main {
  section {
    &.firstSection {
      padding: $heightPadding $sidePadding;
      background-image: url(/Images/laptopManMobile.svg);
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media only screen and (min-width: 768px) {
        min-height: 525px;
        // height: 6vh;
        width: 100%;
      }
      @media screen and (min-width: 920px) {
        background-image: url(/Images/laptopManDesktop.svg);
        width: 100%;
        color: $text_main_color;
        background-size: cover;
        min-height: 500px;
        height: 12vh;
      }

      h1 {
        color: $text_main_color;
        font-size: 24px;
        @media only screen and (min-width: 370px) {
          font-size: 30px;
        }
        @media screen and (min-width: 920px) {
          font-size: 54px;
        }
      }
      p {
        color: $small_text;
        font-size: 12px;
        width: 67%;
        @media only screen and (min-width: 370px) {
          font-size: 17px;
        }
        font-weight: 500;
        @media screen and (min-width: 920px) {
          font-size: 18px;
          width: 50%;
          max-width: 720px;
          line-height: 30px;
          padding-bottom: 30px;
        }
      }
    }
    &.secondSection {
      padding: $heightPadding $sidePadding;
      background-image: url(/Images/designedBackground.svg);

      .container {
        display: none;

        @media screen and (min-width: 920px) {
          display: flex;
          justify-content: space-between;

          .box {
            background: #ffffff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 2vh 3vw;
          }
        }
      }
      .wrapper {
        color: $text_main_color;

        h1 {
          color: $text_main_color;
          font-size: 28px;
          @media screen and (min-width: 920px) {
            font-size: 58px;
          }
        }
        .images {
          @media screen and (min-width: 920px) {
            display: flex;
            justify-content: space-between;
          }
        }
        .images > div {
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          padding: 4vh 2vw;

          img {
            width: 100%;
            border-radius: 10px;
          }
        }
        .none {
          display: none;
        }
        + div {
          display: flex;
          justify-content: center;
        }
        @media screen and (min-width: 920px) {
          .none {
            display: block;
          }
        }
      }
    }
    &.thirdSection {
      background: linear-gradient(
        180deg,
        rgba(239, 155, 17, 0.5) 0%,
        rgba(64, 85, 88, 0.5) 100%
      );
      @media screen and (min-width: 920px) {
        display: flex;
      }
      .texts {
        padding: $sidePadding;
        order: 1;
      }

      > img {
        width: 100%;
        order: 2;
      }
      h2 {
        color: white;
        font-size: 28px;
        @media screen and (min-width: 920px) {
          color: $text_main_color;
          font-size: 56px;
        }
      }
      p {
        color: white;
        font-size: 16px;
        line-height: 40px;
        @media screen and (min-width: 920px) {
          font-size: 18px;
          color: $small_text;
        }
      }
      .button {
        @media screen and (min-width: 920px) {
          display: flex;
          justify-content: space-between;
        }
      }
      .btn_1 {
        background: linear-gradient(180deg, #ef9b11 0%, #405558 100%);
        border-radius: 10px;
        color: white;
        padding: 2vh 6.2vw;
        border: none;
        font-size: 14px;
      }

      .btn_2 {
        border: 2px solid white;
        color: white;
        border-radius: 10px;
        padding: 2vh 6.5vw;
        font-size: 14px;
        background-color: transparent;
      }
    }
    &.forthSection {
      img:nth-child(1) {
        width: 100%;
        @media screen and (min-width: 920px) {
          display: none;
        }
      }
      img:nth-child(2) {
        display: none;
        @media screen and (min-width: 920px) {
          display: block;
          width: 100%;
        }
      }
    }
    &.lastSection {
      background-color: $lastSectionColor;
      padding: $sidePadding;

      .joined {
        display: flex;
        gap: 10px;
        align-items: center;
      }

      .none {
        display: none;
        @media screen and (min-width: 920px) {
          display: block;
        }
      }

      h3 {
        font-size: 28px;
        color: $text_main_color;
      }
      .ratings {
        border: 1px solid white;
        background-color: white;
        border-radius: 10px;
        padding: 2vh 5vw;
        width: 100%;
        @media screen and (min-width: 920px) {
          display: none;
        }

        p {
          line-height: 36px;
          font-size: 16px;
          color: $small_text;
        }
        h2 {
          font-size: 18px;
          color: $text_main_color;
        }
      }
      .lines {
        display: flex;
        justify-content: center;
        @media screen and (min-width: 920px) {
          display: none;
        }
      }

      .ratingDesktop {
        display: flex;
        justify-content: space-evenly;

        gap: 20px;

        .none {
          border: 1px solid white;
          background-color: white;
          border-radius: 10px;
          width: 377px;
          padding: 2vh 3vw;
        }
        p {
          line-height: 36px;
        }
      }
    }
  }
}
footer {
  background-color: $text_main_color;
  padding: 2vh $sidePadding;

  .footerLinks {
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 920px) {
      display: block;
      margin-top: 30px;
    }
  }
  .foot {
    @media screen and (min-width: 920px) {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }
  .all {
    @media screen and (min-width: 920px) {
      display: flex;
      
    }
    .footerLinks {
      @media screen and (min-width: 920px) {
        display: flex;
        
      }
      .footerLinks1 {
        @media screen and (min-width: 920px) {
          margin-right: 80px;
        }
      }
      .footerLinks2 {
        @media screen and (min-width: 920px) {
          margin-right: 50px;
        }
      }
    }
  }
  .none {
    display: none;
    @media screen and (min-width: 920px) {
      display: flex;
      flex-direction: column;
    }
  }
  .last {
    @media screen and (min-width: 920px) {
      display: flex;
      flex-direction: column;
    }
  }
  p {
    color: white;
    font-size: 15px;
    margin-top: 20px;
  }
  .corebankParagraph {
    color: white;
    @media screen and (min-width: 920px) {
      width: 274px;
    }
  }

  .shortNav {
    color: $footerColor;
    font-size: 20px;
  }


  .footerLinks {
    ul {
      li {
        list-style: none;
        line-height: 40px;
        font-size: 17px;
        font-weight: 100;
        a {
          color: white;
        }
        a:hover {
          cursor: pointer;
          color: blue;
        }
      }
    }
  }
  .contact {
    p:last-child {
      font-size: 11px;
    }
    @media screen and (min-width: 920px) {
      margin-top: 42px;
      line-height: 15px;
    }
  }

  .btns {
    @media screen and (min-width: 920px) {
      display: none;
    }
  }
}
