@import "./variables";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.first_header {
  display: flex;
  justify-content: space-between;
  padding: 2vh 6vw;
  color: white;
  height: 10vh;
  align-items: center;
  width: 100%;
  .none {
    display: none;
  }
  background-color: $top_header_background;
}
.second_header {
  display: flex;
  justify-content: space-between;
  padding: 2vh 6vw;
  width: 100%;
  color: $text_main_color;
  
  font-size: 16px;

  .none {
    display: none;
  }
  .logo {
    width: 75%;
  }
}

@media screen and (min-width: 920px) {
  .first_header {
    .none {
      display: flex;
    }
    .first_header_left {
      display: flex;

      * {
        margin-right: 8px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .first_header_right {
      display: flex;
      align-items: center;
      * {
        margin-left: 8px;
        &:last-child {
          margin-left: 0;
        }
      }
    }
  }
  .second_header {
    .menu {
      display: none;
    }
    .none {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .left,
  .right {
    gap: 15px;
  }
  button {
    background: linear-gradient(180deg, #ef9b11 0%, #405558 100%);
    border-radius: 7px;
    padding: 2px 3px;
  }
}
