* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header section {
  padding: 2vh 6vw;
}

header section.first_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  height: 10vh;
  background-color: #405558;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header section.first_header .none {
  display: none;
}

@media screen and (min-width: 920px) {
  header section.first_header .none {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header section.first_header .first_header_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header section.first_header .first_header_left * {
    margin-right: 8px;
  }
  header section.first_header .first_header_left *:last-child {
    margin-right: 0;
  }
  header section.first_header .first_header_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header section.first_header .first_header_right * {
    margin-left: 8px;
  }
  header section.first_header .first_header_right *:last-child {
    margin-left: 0;
  }
}

header section.second_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2vh 6vw;
  width: 100%;
  font-size: 16px;
}

header section.second_header a {
  color: #12082d;
}

header section.second_header .none {
  display: none;
}

header section.second_header .logo {
  width: 75%;
}

@media screen and (min-width: 920px) {
  header section.second_header .menu {
    display: none;
  }
  header section.second_header .none {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header section.second_header .left,
  header section.second_header .right {
    gap: 15px;
  }
  header section.second_header button {
    background: -webkit-gradient(linear, left top, left bottom, from(#ef9b11), to(#405558));
    background: linear-gradient(180deg, #ef9b11 0%, #405558 100%);
    border-radius: 7px;
    padding: 3px 4px;
    color: white;
    border: none;
  }
}

main section.firstSection {
  padding: 2vh 6vw;
  background-image: url(/Images/laptopManMobile.svg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  main section.firstSection {
    min-height: 525px;
    width: 100%;
  }
}

@media screen and (min-width: 920px) {
  main section.firstSection {
    background-image: url(/Images/laptopManDesktop.svg);
    width: 100%;
    color: #12082d;
    background-size: cover;
    min-height: 500px;
    height: 12vh;
  }
}

main section.firstSection h1 {
  color: #12082d;
  font-size: 24px;
}

@media only screen and (min-width: 370px) {
  main section.firstSection h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 920px) {
  main section.firstSection h1 {
    font-size: 54px;
  }
}

main section.firstSection p {
  color: rgba(18, 8, 45, 0.8);
  font-size: 12px;
  width: 67%;
  font-weight: 500;
}

@media only screen and (min-width: 370px) {
  main section.firstSection p {
    font-size: 17px;
  }
}

@media screen and (min-width: 920px) {
  main section.firstSection p {
    font-size: 18px;
    width: 50%;
    max-width: 720px;
    line-height: 30px;
    padding-bottom: 30px;
  }
}

main section.secondSection {
  padding: 2vh 6vw;
  background-image: url(/Images/designedBackground.svg);
}

main section.secondSection .container {
  display: none;
}

@media screen and (min-width: 920px) {
  main section.secondSection .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main section.secondSection .container .box {
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 2vh 3vw;
  }
}

main section.secondSection .wrapper {
  color: #12082d;
}

main section.secondSection .wrapper h1 {
  color: #12082d;
  font-size: 28px;
}

@media screen and (min-width: 920px) {
  main section.secondSection .wrapper h1 {
    font-size: 58px;
  }
}

@media screen and (min-width: 920px) {
  main section.secondSection .wrapper .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

main section.secondSection .wrapper .images > div {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 4vh 2vw;
}

main section.secondSection .wrapper .images > div img {
  width: 100%;
  border-radius: 10px;
}

main section.secondSection .wrapper .none {
  display: none;
}

main section.secondSection .wrapper + div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 920px) {
  main section.secondSection .wrapper .none {
    display: block;
  }
}

main section.thirdSection {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(239, 155, 17, 0.5)), to(rgba(64, 85, 88, 0.5)));
  background: linear-gradient(180deg, rgba(239, 155, 17, 0.5) 0%, rgba(64, 85, 88, 0.5) 100%);
}

@media screen and (min-width: 920px) {
  main section.thirdSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

main section.thirdSection .texts {
  padding: 6vw;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

main section.thirdSection > img {
  width: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

main section.thirdSection h2 {
  color: white;
  font-size: 28px;
}

@media screen and (min-width: 920px) {
  main section.thirdSection h2 {
    color: #12082d;
    font-size: 56px;
  }
}

main section.thirdSection p {
  color: white;
  font-size: 16px;
  line-height: 40px;
}

@media screen and (min-width: 920px) {
  main section.thirdSection p {
    font-size: 18px;
    color: rgba(18, 8, 45, 0.8);
  }
}

@media screen and (min-width: 920px) {
  main section.thirdSection .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

main section.thirdSection .btn_1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#ef9b11), to(#405558));
  background: linear-gradient(180deg, #ef9b11 0%, #405558 100%);
  border-radius: 10px;
  color: white;
  padding: 2vh 6.2vw;
  border: none;
  font-size: 14px;
}

main section.thirdSection .btn_2 {
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  padding: 2vh 6.5vw;
  font-size: 14px;
  background-color: transparent;
}

main section.forthSection img:nth-child(1) {
  width: 100%;
}

@media screen and (min-width: 920px) {
  main section.forthSection img:nth-child(1) {
    display: none;
  }
}

main section.forthSection img:nth-child(2) {
  display: none;
}

@media screen and (min-width: 920px) {
  main section.forthSection img:nth-child(2) {
    display: block;
    width: 100%;
  }
}

main section.lastSection {
  background-color: rgba(255, 187, 11, 0.5);
  padding: 6vw;
}

main section.lastSection .joined {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.lastSection .none {
  display: none;
}

@media screen and (min-width: 920px) {
  main section.lastSection .none {
    display: block;
  }
}

main section.lastSection h3 {
  font-size: 28px;
  color: #12082d;
}

main section.lastSection .ratings {
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  padding: 2vh 5vw;
  width: 100%;
}

@media screen and (min-width: 920px) {
  main section.lastSection .ratings {
    display: none;
  }
}

main section.lastSection .ratings p {
  line-height: 36px;
  font-size: 16px;
  color: rgba(18, 8, 45, 0.8);
}

main section.lastSection .ratings h2 {
  font-size: 18px;
  color: #12082d;
}

main section.lastSection .lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 920px) {
  main section.lastSection .lines {
    display: none;
  }
}

main section.lastSection .ratingDesktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 20px;
}

main section.lastSection .ratingDesktop .none {
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  width: 377px;
  padding: 2vh 3vw;
}

main section.lastSection .ratingDesktop p {
  line-height: 36px;
}

footer {
  background-color: #12082d;
  padding: 2vh 6vw;
}

footer .footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 920px) {
  footer .footerLinks {
    display: block;
    margin-top: 30px;
  }
}

@media screen and (min-width: 920px) {
  footer .foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 920px) {
  footer .all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 920px) {
  footer .all .footerLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 920px) {
  footer .all .footerLinks .footerLinks1 {
    margin-right: 80px;
  }
}

@media screen and (min-width: 920px) {
  footer .all .footerLinks .footerLinks2 {
    margin-right: 50px;
  }
}

footer .none {
  display: none;
}

@media screen and (min-width: 920px) {
  footer .none {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 920px) {
  footer .last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer p {
  color: white;
  font-size: 15px;
  margin-top: 20px;
}

footer .corebankParagraph {
  color: white;
}

@media screen and (min-width: 920px) {
  footer .corebankParagraph {
    width: 274px;
  }
}

footer .shortNav {
  color: #EF9B11;
  font-size: 20px;
}

footer .footerLinks ul li {
  list-style: none;
  line-height: 40px;
  font-size: 17px;
  font-weight: 100;
}

footer .footerLinks ul li a {
  color: white;
}

footer .footerLinks ul li a:hover {
  cursor: pointer;
  color: blue;
}

footer .contact p:last-child {
  font-size: 11px;
}

@media screen and (min-width: 920px) {
  footer .contact {
    margin-top: 42px;
    line-height: 15px;
  }
}

@media screen and (min-width: 920px) {
  footer .btns {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */