@import "./variables";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.first_header {
  display: flex;
  justify-content: space-between;
  padding: 2vh 6vw;
  color: white;
  height: 10vh;
  align-items: center;
  width: 100%;
  .none {
    display: none;
  }
  background-color: $top_header_background;
}
.second_header {
  display: flex;
  justify-content: space-between;
  padding: 2vh 6vw;
  width: 100%;

  a {
    color: $text_main_color;
  }

  font-size: 16px;

  .none {
    display: none;
  }
  .logo {
    width: 75%;
  }
}
.second_header + section {
  padding: 2vh 6vw;
  background-image: url(/Images/laptopManMobile.svg);
  // background-position: 68% 0;
  background-size: cover;
  h1 {
    color: $text_main_color;
    font-size: 24px;
  }
  p {
    color: $small_text;
    font-size: 12px;
  }
  div {
    width: 60%;
    p {
      line-height: 20px;
    }
  }
  @media screen and (min-width: 580px) {
    height: 100vh;
    padding-top: 60px;
    div {
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
  @media screen and (min-width: 460px){
height: 60vh;
padding-top: 65px;
h1{
  font-size: 30px;
}
  }
}

@media screen and (min-width: 920px) {
  .first_header {
    .none {
      display: flex;
    }
    .first_header_left {
      display: flex;

      * {
        margin-right: 8px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .first_header_right {
      display: flex;
      align-items: center;
      * {
        margin-left: 8px;
        &:last-child {
          margin-left: 0;
        }
      }
    }
  }
  .second_header {
    .menu {
      display: none;
    }
    .none {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .left,
  .right {
    gap: 15px;
  }
  button {
    background: linear-gradient(180deg, #ef9b11 0%, #405558 100%);
    border-radius: 7px;
    padding: 3px 4px;
    color: white;
    border: none;
  }
  .second_header + section {
    background-image: url(/Images/laptopManDesktop.svg);
    height: 80vh;
    padding-top: 130px;
    color: $text_main_color;

    background-size: cover;
    background-position: 100% 0;
    background-repeat: no-repeat;
    div {
      h1 {
        font-size: 54px;
      }
      p {
        font-size: 18px;
        width: 600px;
        line-height: 30px;
      }
    }
  }
}
